@{
    ViewBag.Title = "اتصل بنا";
}

<div style="text-align: center; direction: rtl; color:white;">
    <h2>@ViewBag.Title</h2>

    <hr />
    </div>

    <div style="text-align: right; direction: rtl; color:white;">



        <table id="ContactTable" align="center">

            <tr>

                <td>
                    رقم خدمة العملاء: 16733 <br /> <br />
                    الموقع الرسمي: <a href="http://www.sfdegypt.org/">  http://www.sfdegypt.org </a> <br />  <br /> 
                    تويتر: <a href="https://twitter.com/SFD_Egypt"> https://twitter.com/SFD_Egypt </a> <br /> <br />
                    جوجل بلس: <a href="https://plus.google.com/+SfdegyptOrg"> https://plus.google.com/+SfdegyptOrg </a> <br /> <br />
                    يغطى الصندوق الاجتماعي كافة محافظات الجمهورية من خلال 31 مكتب اقليمي. لمعرفة عناوين و تليفونات المكاتب
                    يرجى الضغط على الرابط التالي
                    <a href="http://goo.gl/d23cyW"> http://goo.gl/d23cyW </a>

                </td>
            </tr>
            <tr>
                <td>
                    <strong>الدعم الفني:</strong>   <a href="mailto:Support@sfdegypt.net">Support@sfdegypt.net</a><br />
                    <strong>التسويق:</strong> <a href="mailto:marketing@sfdegypt.net">marketing@sfdegypt.net</a>
                </td>
            </tr>

        </table>
    </div>

